/* CSS FOR ALL PAGES OUTSIDE DASHBOARD AND AUTH */
@tailwind components;
.bannerBg {
  background: url(/images/bannerBg.png);
}
.linesBg {
  background: url(/images/linesBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footerBg {
  background: url(/images/footerBg1.svg);
  background-repeat: no-repeat;
  background-size: fill;
  width: 100%;
}
.wavebanner {
  background: url(/images/wavebanner.png);
  background-repeat: no-repeat;
  background-size: inherit !important;
}
.wave2 {
  background: url(/images/wave2.png);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}
.brownwave {
  background: url(/images/brownwave.png);
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: right;
}
@layer components {
  .personalizeBoxHead {
    @apply 4xl:text-4xl lg:text-3xl sm:text-2xl text-xl capitalize font-bold;
  }
}
.persBox:hover .persicon {
  background: #ec9430;
  color: white;
  margin-left: 3px;
}
.persBox .persicon {
  background: #fff9f2;
  color: #ec9430;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e9e9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3bb3e1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #207ec3;
}
.apexcharts-toolbar {
  display: none !important;
}
.apexcharts-canvas {
  width: 100% !important;
  height: auto !important;
}
