/* all dashboard content */
@tailwind components;
.sidebarGradient {
  background: url(/images/sidebarMainBg.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  /* background: linear-gradient(180deg, #115184 0%, #389ec6 100%); */
}
/* .sidebarBg {
} */
@layer components {
  .sidebarList {
    @apply flex gap-5 items-center pl-6 py-2 hover:bg-web_lightbrown bg-white/5 rounded-tr-full transition-colors duration-200 ease-soft-spring cursor-pointer;
  }
  .sidebarListDropdown {
    @apply flex items-center gap-5 list-decimal  transition-colors duration-200 ease-soft-spring cursor-pointer;
  }
  .userEdit img,
  .userEdit span {
    @apply max-w-[120px] w-40 max-h-[130px] w-full h-full;
  }
  .userEdit img {
    @apply min-w-[90px];
  }
  .userbox span.flex {
    width: 50px;
    height: 50px;
    border-radius: 14px;
  }
  .userbox span {
    font-weight: 500;
  }
  .dashboard_container {
    @apply max-w-[3840px] !w-[94%] mx-auto;
  }
  .sidebarList {
    @apply flex gap-5 items-center pl-6 py-2 hover:bg-web_lightbrown bg-white/5 rounded-tr-full transition-colors duration-200 ease-soft-spring cursor-pointer;
  }
  .sidebarListDropdown {
    @apply flex items-center gap-5 list-decimal  transition-colors duration-200 ease-soft-spring cursor-pointer;
  }
  .userPfp .relative.overflow-hidden.rounded-inherit.rounded-large {
    border-radius: 100%;
  }
  .userbox span.flex {
    width: 50px;
    height: 50px;
    border-radius: 14px;
  }
  .userbox span {
    font-weight: 500;
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
